#article-section-conteiner {
  margin-top: 64px;
}
#article-section-title-conteiner {
  grid-column: 2 / 12;
  border-bottom: 1px solid var(--gray-5);
}
#article-section-subtitle {
  color: var(--gray-6);
  margin: 32px 0 32px 0;
  padding-right: 24px;
}
#article-section-author-info{
  color: var(--blue-2);
  margin: 0 0 12px 0;
}
#article-section-body-conteiner {
  grid-column: 3 / 11;
  margin-top: 64px;
}
#article-section-text p{
  color: var(--gray-6);
  margin: 40px 0 40px 0;
  font-size: 24px;
}
#article-section-text strong{
  color: var(--blue-2)
}
#article-section-time-info {
  margin: 12px 0 0 0;
  color: var(--gray-6);
}
#article-section-info-icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 24px 0 32px 0;
}
#columnist-profile-link {
  color: var(--blue-2);
}
#article-section-body-conteiner ul {
  list-style-type: square;
  list-style-position: outside;
  font-family: 'Bitter', serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
  color: var(--blue-2);
  padding-left: 24px;
}

#article-section-body-conteiner ol {
  list-style-position: outside;
  font-family: 'Bitter', serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
  color: var(--blue-2);
  padding-left: 24px;
}
#article-section-body-conteiner li {
  padding-left: 24px;
}