.inputtextlabel-field {
  height: 40px;
  width: 100%;
  background-color: var(--gray-2);
  border: 2px var(--gray-2) solid;
  box-sizing: border-box;
  transition: 0.3s;
  border-radius: 4px;
  width: 100%;
  padding-left: 12px;
  margin-top: 8px;
}
.inputtextlabel-field:hover {
  border: 2px var(--blue-2) solid;
  
}
.inputtextlabel-field:focus {
  border: 2px var(--blue-1) solid;
  background: none;
}
.inputtextlabel-conteiner {
  margin: 16px 0 16px 0;
  width: 100%;
}
.inputtextlabel-label {
  color: var(--blue-2);
  margin-left: 4px;
}