.line-asset {
  height: 2px;
  width: 100%;
  margin: 24px 0 24px 0;
  background-color: var(--gray-5);
}
.line-asset-conteiner {
  width: 100%;
  display: flex;
  align-items: center;
}
.line-asset-text {
  padding: 0 4px 0 4px;
}