#header-conteiner {
  height: 80px;
  background-color: var(--blue-2);
  border-bottom: 8px solid var(--blue-3);
}
#header-content-conteiner {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 0 64px 0 64px;
}
#header-left {
  justify-self: flex-start;
}
#header-center {
  justify-self: center;
}
#header-right {
  justify-self: flex-end;
}

#header-menu-conteiner{
  display: flex;
  align-items: center;
}
#header-menu-icon {
  font-size: 24px;
  margin: 0 8px 0 0;
}

#header-profile-conteiner{
  display: flex;
  align-items: center;
  cursor: pointer;
}
#header-profile-icon {
  font-size: 24px;
  margin: 0 8px 0 0;
}
#header-dropdown-icon {
  font-size: 16px;
  margin: 0 0 0 8px;
}

