:root {
  --gray-1: #F8F9FA;
  --gray-2: #E9ECEF;
  --gray-3: #DEE2E6;
  --gray-4: #CED4DA;
  --gray-5: #ADB5BD;
  --gray-6: #6C757D;
  --gray-7: #495057;
  --gray-8: #343A40;
  --gray-9: #212529;

  --blue-1: #00BBEF;
  --blue-2: #195F72;
  --blue-3: #0B3C49;

  --yellow: #ffb703;
  --orange: #fb8500;

  --red-1: #ff4747;
  --red-2: #ff0f0f;
  --red-3: #ce0000;

  --green-1: #9ee37d;
  --green-2: #63c132;
  --green-3: #358600;
}

body {
  background-color: var(--gray-1);
}

.grid1200 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 24px;
  margin: 0 80px 0 80px;
}

h1 {
  font-family: 'Bitter', serif;
  font-size: 76.29px;
  font-weight: 400;
  line-height: 110%;
  color: var(--gray-9);
}
h2 {
  font-family: 'Bitter', serif;
  font-size: 61.04px;
  font-weight: 400;
  line-height: 110%;
  color: var(--gray-9);
}
h3 {
  font-family: 'Bitter', serif;
  font-size: 48.83px;
  font-weight: 400;
  line-height: 110%;
  color: var(--gray-9);
}
h4 {
  font-family: 'Bitter', serif;
  font-size: 39.06px;
  font-weight: 400;
  line-height: 110%;
  color: var(--gray-9);
}
h5 {
  font-family: 'Bitter', serif;
  font-size: 31.25px;
  font-weight: 400;
  line-height: 110%;
  color: var(--gray-9);
}
h6 {
  font-family: 'Bitter', serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 110%;
  color: var(--gray-9);
}
p {
  font-family: 'Bitter', serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 110%;
  color: var(--gray-9);
}
p.small {
  font-family: 'Bitter', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 112%;
  color: var(--gray-9);
}
p.error {
  font-family: 'Bitter', serif;
  font-size: 12.28px;
  font-weight: 400;
  line-height: 110%;
  color: red;
}
p.line {
  color: var(--gray-5);
  font-size: 16px;
}
p.bold, h1.bold, h2.bold, h3.bold, h4.bold, h5.bold, h6.bold {
  font-weight: 700;
}
p.italic, h1.italic, h2.italic, h3.italic, h4.italic, h5.italic, h6.italic {
  font-style: italic;
}
p.upper, h1.upper, h2.upper, h3.upper, h4.upper, h5.upper, h6.upper {
  text-transform: uppercase;
}
p.thin, h1.thin, h2.thin, h3.thin, h4.thin, h5.thin, h6.thin {
  font-weight: 200;
}
p.white, h1.white, h2.white, h3.white, h4.white, h5.white, h6.white, svg.white {
  color: var(--gray-1);
}
svg {
  color: var(--gray-9);
}
label {
  font-family: 'Bitter', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
  color: var(--gray-9);
}
svg.medium {
  font-size: 40px;
}

button {
  font-family: 'Bitter', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  cursor: pointer;
}
button.none {
  text-transform: none;
}
button.blue2 {
  background-color: var(--blue-2);
}
button.blue3 {
  background-color: var(--blue-3);
}


