.button-asset {
  height: 40px;
  width: 100%;
  background-color: var(--blue-2);
  color: var(--gray-1);
  border-radius: 4px;
  transition: 0.3s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-asset:hover {
  background-color: var(--blue-3);
}