#menu-conteiner {
  background-color: var(--gray-1);
  display: flex;
  flex-direction: column;
}
#menu-button-conteiner {
  grid-column: 6 / 8;
  text-decoration: none;
}
#menu-button-section {
  margin-top: 32px;
  margin-bottom: 32px;
}
#menu-add-icon {
  margin-right: 4px;
  font-size: 16px;
}
#menu-hero-section {
  margin-top: 64px;
  margin-bottom: 32px;
}
#menu-hero {
  grid-column: 1 / 13;
  height: 280px;
  background-image: url('../../../imgs/museu-1.png');
  background-size: 100%;
  background-color: var(--blue-2);
  background-position: 0px -120px;
}
.menu-button-write {
  height: 40px;
  width: 100%;
  background-color: var(--blue-2);
  color: var(--gray-1);
  border-radius: 4px;
  transition: 0.3s;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}